*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --red-color: #D92C27;
  --black-color: #050000;
  --gray-color: #f5f5f5;
  --dark-gray-color: #232323;
  --light-gray-color: #59595C;
  --gray-color-2: #f4f4f4;
  --white-color: #ffffff;
  --light-green-color: #E5F0E2;
  --green-color: #459B45;
}

body {
  background-color: var(--gray-color-2);
}

p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--light-gray-color);
}

@font-face {
  font-family: "NeueHaasDisplayBold";
  src: url(../fonts/NeueHaasDisplayBold.ttf);
}

@font-face {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  src: url(../fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  src: url(../fonts/NeueHaasDisplayMediu.ttf);
}




/* trust hero page */

.trust-hero-main {
  padding-top: 100px;
  /* padding-bottom: 200px; */
  /* overflow: hidden; */
}

.trust-hero-main .container-main {
  max-width: unset;
  padding-left: 232px;
  padding-right: 50px;
}

.trust-hero-flex {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
}

.trust-left,
.trust-right {
  width: 50%;
}



.trust-hero-heading h6 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--red-color);
  margin-bottom: 20px;
}

.trust-hero-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
}

.trust-hero-heading h1 .color {
  color: var(--red-color);
}

.trust-hero-heading p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  margin-bottom: 20px;
}

.trust-hero-heading .small-para {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  margin-bottom: 20px;
}

.trust-right img {
  width: 626px;
  height: 314px;

}

.trust-text-main {
  padding-top: 100px;
  padding-bottom: 40px;
}

.trust-text-inner h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 250px;
  font-weight: 600;
  line-height: 68px;
  color: var(--white-color);
  /* margin-bottom: 47px; */
}

.trust-badges-main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--white-color);
}

.trust-badges-heading {
  margin-bottom: 50px;
}

.trust-badges-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.trust-badges-heading h1 .color {
  color: var(--red-color);
}

.trust-badges-heading p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  margin-bottom: 80px;
  text-align: center;
}

.trust-badges-heading h4 {
  font-family: "Inter Tight", sans-serif;
  font-size: 34px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--dark-gray-color);
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.trust-badges-heading .small-para {
  margin-bottom: 0px;
}

.tru-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 45px;
  margin-bottom: 20px;
}

.tru-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 170px;
  margin: 0 auto;
  margin-bottom: 16px;
}


.tru-content h5 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 16px;
}

.tru-content p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
  color: #555E68;
}

.trust-badges-last-para p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px;
  /* font-weight: 600; */
  color: #555E68;
}


.trust-badges-table-main {
  padding: 100px 0;
  background-color: var(--white-color);
  font-family: "Inter Tight", sans-serif;
}

.trust-badges-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
}

.trust-badges-table th,
.trust-badges-table td {
  border: 1px solid #f0f0f0;
  padding: 12px;
}

.trust-badges-table th {
  padding: 25px;
}

.trust-badges-table th {
  font-weight: bold;
  color: #333;
  font-size: 28px;
  line-height: 36px
}

.trust-badges-table th:first-child {
  border-top-left-radius: 30px;
}

.trust-badges-table th:last-child {
  border-top-right-radius: 30px;
}

.trust-badges-table td {
  font-size: 16px;
  line-height: 24px;
}

th.trubasic,
td.trubasic {
  background: #f7f7f7;
  color: #232323;
}

th.truaccess,
td.truaccess {
  background: #e7f1fc;
  color: #156DB6;
}

th.trucertified,
td.trucertified {
  background: #e9e7fc;
  color: #4352A4;
}

th.truverified,
td.truverified {
  background: #e7f9f5;
  color: #24B576;
}

th.truglobal,
td.truglobal {
  background: #fff3e6;
  color: #E17F4D;
}

th.trusecure,
td.trusecure {
  background: #fff9e6;
  color: #E59B2D;
}




tr .tick {
  color: #2ecc71;
  font-weight: bold;
}

td .tick {
  color: #2ecc71;
  font-weight: bold;
}

.copowered-row {
  background-color: #f8f8f8;
}

.copowered-row td {
  color: #000;
}

.copowered-row span {
  font-weight: normal;
  font-size: 0.9em;
  color: #666;
  margin-left: 8px;
}

.impact-purpose-main {
  padding: 100px 0px;
  background-color: var(--white-color);
}

.impact-purpose-heading {
  margin-bottom: 50px;
}

.impact-purpose-heading h3 {
  font-size: 34px;
  line-height: 50px;
  font-family: "Inter Tight", sans-serif;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
  text-align: center;
}

.impact-purpose-heading p {
  font-size: 20px;
  line-height: 30px;
  color: #555E68;
  text-align: center;
  font-weight: 400;
}

.eco-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 45px;
}

.eco-img {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.eco-content h3 {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.eco-content p {
  font-size: 18px;
  line-height: 24px;
  color: #555E68;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.global-leaders-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.global-leaders-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
}

.global-leaders-block {
  background-color: var(--white-color);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  padding: 27px;
  border-radius: 14px;
}

.global-leaders-block-heading h3 {
  font-size: 25px;
  min-height: 65px;
  line-height: 30px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
}

.global-leaders-block-content p {
  font-size: 18px;
  line-height: 24px;
  color: #555E68;
  margin-top: 20px;
}

.verification-works-main {
  padding-bottom: 100px;
}

.verification-works {
  position: relative;
  background-color: var(--white-color);
  padding: 100px;
  border-radius: 16px;
}

.verification-works::before {
  position: absolute;
  content: "";
  background-image: url(../images/shape-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 286px;
  height: 452px;
  right: 0;
  top: 0;
}

.verification-works-heading {
  margin-bottom: 60px;
}

.verification-works-heading p {
  font-size: 18px;
  line-height: 24px;
  color: #555E68;
  margin-bottom: 20px;
  text-align: center;
}

.verification-works-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.verification-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.verification-block {
  padding: 10px;
  position: relative;
}

.verification-img {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
  z-index: 1;
  position: relative;
}

.verification-block {}

.verification-block::before {
  position: absolute;
  content: "";
  background-image: url(../images/long-arrow.png);
  /* background-size: cover; */
  width: 100%;
  height: 15px;
  right: 0;
  background-repeat: no-repeat;
  top: 30px;
  /* z-index: -1; */
  left: 160px;
}

.verification-block:last-child::before {
  content: unset;
}

.verification-content h4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.verification-content p {
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-gray-color);
  text-align: center;
}

.roi-trust-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.roi-trust-heading {
  margin-bottom: 60px;
}

.roi-trust-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.roi-trust-heading p {
  font-size: 18px;
  line-height: 24px;
  color: #555E68;
  /* margin-bottom: 20px; */
  text-align: center;
}

.roi-trust-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.roi-trust-img {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
  height: 140px;
  width: 140px;
}

.roi-trust-img img {
  object-fit: scale-down;
}

.roi-trust-content h3 {
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.roi-trust-content p {
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-gray-color);
  text-align: center;
}

.creditibility-main {
  padding: 100px 0;
}

.creditibility-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.creditibility-heading p {
  font-size: 28px;
  line-height: 34px;
  color: #363636;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.creditibility-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 70px;
}

.view-plans a {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 16px;
  width: 196px;
  height: 56px;
  color: var(--white-color);
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
}

.view-plans a:hover {
  background-color: var(--red-color);
}

.start-veri a {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 16px;
  width: 196px;
  height: 56px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background-color: var(--red-color);
}

.start-veri a:hover {
  background-color: var(--black-color);
}


/* footer */


.desk-img {
  display: block;
}

.mob-img {
  display: none;
}

.trust-badges-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}


.trust-text h1 {
  text-align: unset;
}



/* Leadership page */

.leadership-hero-main,
.core-leadership-main {
  padding-bottom: 100px;
  padding-top: 100px;
}

.leadership-hero-main .container-main {
  max-width: 1194px;
}

.leadership-hero h3 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 34px;
  line-height: 50px;
  color: #171a1c;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.leadership-hero h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 72px;
  line-height: 84px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--dark-gray-color);
  font-weight: 400;
  text-align: center;
}

.leadership-hero h1 .color {
  color: var(--red-color);
}

.our-leadership-second-para {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 32px;
}

.our-leadership-second-para p {
  color: var(--p-color);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

/* core-leadership-main */

.core-leadership-main .container-main {
  max-width: 1194px;
}

.core-leadership-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -2%;
  font-weight: 600;
  color: var(--dark-gray-color);
  font-weight: 400;
  text-align: center;
  margin-bottom: 56px;
}

.core-leadership-heading h1 .color {
  color: var(--red-color);
}

.core-leadership-flex {
  display: flex;
  /* flex-wrap: wrap; */

  align-items: center;
}

.core-leadership-left {
  width: 40%;
}

.core-leadership-right {
  width: 60%;
  padding-left: 120px;
}

.core-leadership-left img {
  /* height: 600px; */
  filter: grayscale(100%);
}

.partner-leadership-heading p {
  color: var(--p-color);
  font-size: 20px;
  line-height: 30px;
}

.partner-leadership-heading h3 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 34px;
  line-height: 50px;
  font-weight: 600;
  color: #171a1c;
  font-weight: 500;
  margin-bottom: 16px;
}

.partner-leadership-content p {
  color: var(--p-color);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.flex-direction-column {
  flex-direction: row-reverse;
}

.flex-direction-column .core-leadership-right {
  padding-right: 122px;
  padding-left: 0px;
}


.flex-flex-gap {
  margin-top: 144px;
}

/* advisory board */

.advisory-board-flex {
  display: flex;
  align-items: center;
}

.advisory-board-left {
  width: 30%;
}

.advisory-board-right {
  width: 70%;
  padding-left: 57px;
}

.advisory-board-left img {
  /* height: 350px; */
  filter: grayscale(100%);
  border-radius: 14px;
}

.advisory-board-partner-heading p {
  color: var(--p-color);
  font-size: 20px;
  line-height: 30px;
}

.advisory-board-partner-heading h3 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 34px;
  line-height: 50px;
  font-weight: 600;
  color: #171a1c;
  font-weight: 500;
  margin-bottom: 16px;
}

.advisory-board-partner-content p {
  color: var(--p-color);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.flex-adv-row {
  flex-direction: row-reverse;
}

.flex-adv-row .advisory-board-right {
  padding-right: 122px;
  padding-left: 0px;
}

.flex-gap {
  margin-top: 65px;
}


/* Impact page */
.impact-breadcrubms {
  background-color: var(--light-green-color);
}

.impact-hero-page-main {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: var(--light-green-color);

}

.impact-hero-page {
  position: relative;
}

.impact-heading {
  max-width: 900px;
  position: relative;
  z-index: 10;
}

.impact-hero-page .impact-heading p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 40px;
}

.impact-hero-page .impact-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 84px;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
}

.impact-hero-page .impact-heading h1 .color {
  color: var(--green-color);
}

.impact-hero-page .impact-heading .small-para {
  color: #363636;
  font-size: 18px;
}

.download-impact-btn a {
  border: 2px solid #2DBB7E;
  background-color: #D4F7D4;
  color: var(--green-color);
  width: 350px;
}

.download-impact-btn a:hover {
  background-color: unset;
}

.impact-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  bottom: -73px;
  position: absolute;
}

.impact-left {
  width: 60%;
}

.impact-right {
  width: 40%;
  position: relative;
  z-index: 11;
}

.impact-inner h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 400px;
  font-weight: 700;
  line-height: 68px;
  color: var(--white-color);
  opacity: 0.6;
  margin-bottom: -47px;
}

/* esg-environment */
.esg-enivornment-main {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.esg-enivornment-main::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  background-color: var(--gray-color-2);
  top: 0;
}

.esg-enivornment-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.esg-enivornment-heading p {

  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  margin-bottom: 80px;
  text-align: center;
}

.esg-enivornment-heading h4 {
  font-family: "Inter Tight", sans-serif;
  font-size: 34px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--dark-gray-color);
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.esg-enivornment-heading .small-para {
  margin-bottom: 0px;
}

.esg-environment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 60px;
}

.esg-environment-block {
  border-radius: 14px;
  background-color: var(--white-color);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  padding: 24px 30px;
}

.esg-environment-block-heading h4 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
  min-height: 70px;
}

.esg-environment-block-img {
  max-width: 145px;
  margin: 0 0 0 auto;
}

.esg-environment-block-para p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #050505;
  margin-top: 20px;
  /* min-height: 40px; */
}


/* make diiference */
.make-difference-main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--white-color);
}

.make-difference-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.make-difference-heading h1 .color {
  color: var(--green-color);
}

.make-difference-heading p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  margin-bottom: 80px;
  text-align: center;
}

.make-difference-eco-tiers {
  margin-bottom: 80px;
}


/* Business empowerment */
.business-empowerment-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.business-empowerment-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.business-empowerment-heading h1 .color {
  color: var(--green-color);
}

.business-empowerment-heading p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  margin-bottom: 50px;
  text-align: center;
}

.business-empowerment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}

.business-empowerment-block {
  border-radius: 14px;
  background-color: var(--white-color);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  padding: 32px;
}

.business-empowerment-block-img {
  max-width: 48px;
  margin: 0 auto;
}

.business-empowerment-block-para p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--dark-gray-color);
  margin-top: 24px;
  /* min-height: 40px; */
  text-align: center;
}

.social-impact-badges {
  margin-top: 50px;
}

.social-impact-badges-heading h4 {
  font-family: "Inter Tight", sans-serif;
  font-size: 34px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--dark-gray-color);
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.social-impact-badges-heading p {
  font-size: 20px;
  line-height: 30px;
  color: #555E68;
  text-align: center;
  font-weight: 400;
}

.social-impact-badges-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 88px;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 70px;
}

.social-impact-badges-block-img {
  max-width: 200px;
  margin: 0 auto;
}

.social-impact-badges-block-content h4 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  margin-bottom: 18px;
  margin-top: 18px;
  text-align: center;
}

.social-impact-badges-block-content p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #555E68;
  margin-top: 20px;
  text-align: center;
}

.both-come-with {
  margin-top: 70px;
}

.both-come-with-heading {
  margin-bottom: 50px;
}

.both-come-with-heading h4 {
  font-family: "Inter Tight", sans-serif;
  font-size: 34px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -2%;
  color: var(--dark-gray-color);
  text-align: center;
  margin-bottom: 20px;
  align-items: center;
}

.both-come-with-grid {
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.both-come-with-block {
  padding: 32px 24px;
}

.both-come-with-block .business-empowerment-block-para p {
  min-height: 150px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.second-block {
  transform: rotate(-7deg);
}

.third-block {
  transform: translateY(50px);
}

.fourth-block {
  transform: rotate(7deg);
}

/* 2028 goals */

.year-goals-main {
  padding-bottom: 100px;
}

.year-goals {
  position: relative;
  background-color: var(--white-color);
  padding: 100px;
  border-radius: 16px;
}

.year-goals::before {
  position: absolute;
  content: "";
  background-image: url(../images/shape-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 286px;
  height: 452px;
  right: 0;
  top: 0;
}

.year-goals::after {
  position: absolute;
  content: "";
  background-image: url(../images/year_goals.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 200px;
  left: 0;
  bottom: 0;
}

.year-goals-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  margin-bottom: 20px;
}

.year-goals-heading h1 .color {
  color: var(--red-color);
}

.year-goals-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  max-width: 550px;
  margin: 0 0 0 auto;
}

.year-goals-icon {
  max-width: 24px;
}

.year-goals-content h1 {
  font-family: "Inter Tight", sans-serif;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -1%;
  color: var(--red-color);
  margin-bottom: 10px;
}

.year-goals-content p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-gray-color);
}

/* part movement */
.part-movement-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.part-movement-heading h1 {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  letter-spacing: -2%;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}

.part-movement-heading p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.part-movement-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-impact-btns a {
  width: 300px;
}

.ceo-profile {
  margin-top: 50px;

}

.ceo-profile img {
  height: 140px;
  width: 140px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.ceo-profile h6 {
  font-size: 22px;
  line-height: 36px;
  color: var(--black-color);
  text-align: center;
}

.ceo-profile p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.ceo-profile span {
  font-size: 18px;
  text-align: center;
  display: block;
}

.disclaimer-main {
  padding-top: 60px;
  padding-bottom: 100px;
}

.disclaimer {
  margin-top: 50px;
}

.disclaimer p {
  font-family: Neue Haas Grotesk Display Pro, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0;
  color: #363636;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 50px; */
}

.disclaimer .para-heading {
  margin-bottom: 40px;
}

.impactfounder-mob {
  display: none;
}

.download-impact-btn a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.download-impact-btn a img {
  width: 22px;
  height: auto;
}