html,
body {
  font-size: 16px;
  font-family: var(--font-family-grotesk);
}

:root {
  --primary-color: #D92C27;
  --primary-active-color: #b62621;
  --secoundary-color: #32383E;
  --secoundary-active-color: #1f2225;
  --tertiary-color: #EAEFF3;
  --tertiary-active-color: #f3faff;
  --font-family-grotesk: Neue Haas Grotesk Display Pro, sans-serif;
  ;
  --font-family-indivisible: 'Indivisible', sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

.container-fluid {
  width: calc(100% - 5rem);
}

.dummy-section {
  height: 100vh;
  width: 100%;
}

button {
  background: transparent;
  border: unset;
}

button:focus,
button:hover {
  outline: none;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-top: -2px;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin-top: -2px;
}

/*****  EOF Material Icon  *****/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  z-index: 999;
  padding: 0;
  border: unset;
  background: transparent;
  color: #555e68;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  display: block;
}

.dropdown-menu-wrap {
  padding: 0.5rem 0;
  background: #fff;
  box-shadow: 0 8px 24px 0 rgba(48, 43, 43, 0.12);
  position: relative;
  /* max-height: 80vh;
    overflow: auto; */
}

.dropdown-menu .dropdown-menu-scroll {
  max-height: 80vh;
  overflow: auto;
}

.dropdown-menu-wrap:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid #fff;
  border-radius: 3px;
}

.dropdown-menu-wrap:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 1rem;
  background: transparent;
}

.dropdown.d-bottom-rigth .dropdown-menu-wrap:before,
.dropdown.d-bottom-left .dropdown-menu-wrap:before,
.dropdown.d-top-rigth .dropdown-menu-wrap:before,
.dropdown.d-top-left .dropdown-menu-wrap:before {
  z-index: 1;
}

.dropdown.d-bottom-rigth .dropdown-menu-wrap:before,
.dropdown.d-bottom-left .dropdown-menu-wrap:before {
  bottom: 100%;
}

.dropdown.d-top-rigth .dropdown-menu-wrap:before,
.dropdown.d-top-left .dropdown-menu-wrap:before {
  top: 100%;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown:hover .dropdown-menu {
  /* display: block; */
  opacity: 1;
  pointer-events: all;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

.dropdown.d-bottom-left .dropdown-menu-wrap:after {
  bottom: 100%;
  left: 0.25rem;
}

.dropdown.d-bottom-rigth .dropdown-menu-wrap:after {
  bottom: 100%;
  right: 0.25rem;
}

.dropdown.d-top-left .dropdown-menu-wrap:after {
  top: 100%;
  left: 0.25rem;
  transform: rotate(180deg);
}

.dropdown.d-top-rigth .dropdown-menu-wrap:after {
  top: 100%;
  right: 0.25rem;
  transform: rotate(180deg);
}

.dropdown.d-top-left .dropdown-menu-wrap {
  border-radius: 1rem 1rem 1rem 0.25rem;
}

.dropdown.d-top-rigth .dropdown-menu-wrap {
  border-radius: 1rem 1rem 0.25rem 1rem;
}

.dropdown.d-bottom-left .dropdown-menu-wrap {
  border-radius: 0.25rem 1rem 1rem 1rem;
}

.dropdown.d-bottom-rigth .dropdown-menu-wrap {
  border-radius: 1rem 0.25rem 1rem 1rem;
}

.dropdown.d-top-left:hover .material-symbols-rounded {
  transform: rotate(180deg);
}

.dropdown.d-top-left .dropdown-menu {
  top: unset;
  bottom: calc(100% + 0.8rem);
  left: 0;
}

.dropdown.d-top-rigth .dropdown-menu {
  top: unset;
  left: unset;
  right: 0;
  bottom: calc(100% + 0.8rem);
}

.dropdown.d-bottom-left .dropdown-menu {
  bottom: unset;
  top: calc(100% + 0.8rem);
  left: 0;
}

.dropdown.d-bottom-rigth .dropdown-menu {
  left: unset;
  right: 0;
  top: calc(100% + 0.8rem);
}

.dropdown-menu-wrap .d-m-item+.d-m-item {
  border-top: 1px solid #d9d9d9;
}

.d-m-item a img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(7493%) hue-rotate(357deg) brightness(101%) contrast(105%);
}

.d-m-item.d-m-i-last a img {
  filter: grayscale(1) brightness(10%);
}

.d-m-item.p-user-login,
.d-m-item.p-user-logged {
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.d-m-item.p-user-logged {
  align-items: flex-start;
  text-align: left;
  gap: 0.15rem;
}

.d-m-item.p-user-logged .p-u-new-customer {
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.dropdown-menu.d-m-profile {
  width: 20rem;
}

.d-m-item {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.dropdown-menu-wrap .tab-content .tab-pane a {
  margin-top: 0.75rem;
}

.nav-pills {
  border-radius: 3.5rem;
  border: 1px solid #d9d9d9;
  background: #fff;
  width: 100%;
  display: flex;
  padding: 0.25rem;
  align-items: center;
  gap: 0.1875rem;
  align-self: stretch;
}

.nav-pills .nav-link {
  display: flex;
  height: 1.6875rem;
  padding: 0.125rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex: 1 0 0;
  border-radius: 5.4375rem;
  color: #616161;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  /* 1.40625rem */
}

.nav-pills .nav-link.active {
  background: #232323;
  color: #fef6f6;
}

.d-m-i-title {
  color: #171a1c;
  /* title-md */
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
}

.d-m-item a {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.d-m-item a:hover {
  color: var(--primary-color);
  background: transparent;
}

.d-m-item a img {
  height: 1.4rem !important;
  width: auto;
}

.d-m-item.d-m-i-last {
  background: #f9f9f9;
  margin-bottom: -0.5rem;
}

.p-u-l-title {
  color: #171a1c;
  text-align: center;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  /* 133.333% */
  letter-spacing: 0.0225rem;
}

.d-m-item.p-user-login button.p-btn-comp.p-btn-primary.p-btn-rounded.p-btn-md {
  width: 100%;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  padding: 0.125rem 0.75rem;
  min-height: 2rem;
}

.p-u-new-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  color: #555e68;
  /* body-sm */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
}

.p-u-new-customer a {
  padding: 0;
  color: #171a1c;
  /* body-sm */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  width: auto;
}

.p-btn-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  /* components/buttons/md */
  font-family: var(--font-family-grotesk);
  font-style: normal;
  border: none;
  white-space: nowrap;
}

.p-btn-comp.p-btn-md {
  padding: 0.25rem 2.19rem;
  min-height: 2.5rem;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  /* 100% */
  letter-spacing: 0.03125rem;
}

.p-btn-comp.p-btn-rounded {
  border-radius: 3.5rem;
}

.p-btn-comp.p-btn-primary {
  background: var(--primary-color);
  color: #ffffff;
}

.p-btn-comp.p-btn-primary:active {
  background: var(--primary-active-color);
}

.p-btn-comp.p-btn-secoundary {
  background: var(--secoundary-color);
  color: #ffffff;
}

.p-btn-comp.p-btn-secoundary:active {
  background: var(--secoundary-active-color);
}

.p-btn-comp.p-btn-tertiary {
  background: var(--tertiary-color);
  color: #171a1c;
}

.p-btn-comp.p-btn-tertiary:active {
  background: var(--tertiary-active-color);
}

header {
  display: flex;
  padding: 1.5rem 0;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-section>* {
  position: relative;
  z-index: 2;
}

.header-section::after {
  background: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  content: "";
  inset: 0;
  opacity: 0;
  transition: all 0.3s;
}

.header-section.active::after,
.header-section.always-active::after {
  opacity: 1;
}

.header-section.always-active:not(.active)::after {
  border-bottom: 2px solid #f5f5f5;
  box-shadow: none;
}

.header-section.always-active+* {
  margin-top: 7rem;
}

header.header-section.always-active {
  z-index: 9;
}

.header-section .material-symbols-rounded {
  font-size: 1.25rem;
}

.header-section .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section .h-left,
header .h-right {
  display: flex;
  align-items: center;
}

.header-section .h-left {
  gap: 3rem;
}

.header-section .h-left .header-main-logo {
  width: auto;
  height: 2.24125rem;
}

.header-section .h-left .header-main-logo.h-m-l-caption {
  height: 4rem;
}

.header-section .h-right {
  gap: 0.875rem;
}

.header-section .h-right nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-section .h-right nav {
  color: #232323;
  font-size: 1rem;
}

.header-section .h-right img {
  height: 1.5rem;
  width: auto;
}

.header-section .p-main-search,
.header-section .p-main-search input {
  max-width: 35rem;
}

.header-section .p-main-search input {
  display: flex;
  height: 2.5rem;
  padding: 0 0.9375rem 0 0.0625rem;
  align-items: center;
  gap: -17.5rem;
  flex: 1 0 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.02rem;
}

.header-section .p-main-search .p-m-s-icon {
  width: 0.95rem;
  left: 1.15rem;
}

.header-section .p-main-search>.p-m-s-icon-position {
  top: 48% !important;
}

.header-section .p-main-search input {
  padding-left: 2.8rem;
  padding-right: 6.5rem;
}

.header-section .p-main-search .p-m-s-icon-position img {
  width: auto;
  height: 1.1rem;
}

.header-section .p-main-search .p-m-s-icon-position {
  top: 45%;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  color: #232323;
  padding: 2rem 10rem;
  font-size: 1.25rem;
  margin: 0;
}

.breadcrumb a,
.breadcrumb .active {
  display: inline-flex;
  align-items: center;
  color: #232323;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: var(--primary-color);
}

.breadcrumb a::after {
  content: "/";
  margin: 0 0.5rem;
  color: #999;
}

.p-bg-shade {
  background: #f4f4f4;
}

.breadcrumb .active {
  color: #6c757d;
  pointer-events: none;
}

a {
  text-decoration: unset;
}

.p-badge {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family-grotesk);
  font-size: 0.77631rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0155rem;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translateX(20%) translateY(-100%);
}

.p-badge.p-badge-primary {
  background: var(--primary-color);
  color: #fff;
}

.p-text-link {
  position: relative;
}

.p-text-link:hover {
  color: #4c68db;
}

.p-text-link:not(.p-t-l-img-default) img {
  filter: brightness(0%) saturate(100%);
}

.p-text-link.p-t-l-img-default {
  color: #232323;
}

.p-text-link:not(.p-t-l-img-default):hover img {
  filter: invert(34%) sepia(97%) saturate(748%) hue-rotate(201deg) brightness(95%) contrast(90%);
}

.p-icon-text-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #232323;
}

.h-right .p-divider-line.p-d-l-vertical {
  background: #000000;
  height: 1.37rem;
  width: 1px;
  opacity: 0.1;
}

.p-all-categories {
  color: #000;
  font-family: var(--font-family-indivisible);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  position: relative;
}

.p-all-categories.active:after {
  position: absolute;
  content: "";
  inset: -5px -16px -5px -11px;
  background: #f2f2f275;
  border-radius: 55rem;
}

.p-all-categories.active>* {
  position: relative;
  z-index: 1;
}

.p-all-categories .material-symbols-rounded {
  color: var(--primary-color);
}

.hero-section {
  background: radial-gradient(67.59% 67.59% at 99.17% 2.23%,
      #fee 0%,
      #fff 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.h-s-container {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  align-items: center;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.h-s-c-logo-title {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.h-s-c-logo-title .p-divider-line.p-d-l-vertical {
  width: 0;
  height: 4.36538rem;
  flex-shrink: 0;
  border: 1px solid #a0a0a0;
}

.h-s-c-title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-h1 {
  color: #232323;
  font-family: var(--font-family-grotesk);
  text-align: center;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5.25rem;
  /* 116.667% */
  letter-spacing: -0.09rem;
}

.title-h1 span {
  color: var(--primary-color);
}

.title-h2 {
  color: #232323;
  font-family: var(--font-family-grotesk);
  font-size: 3rem;
  font-style: normal;
  font-weight: 450;
  line-height: 120%;
  letter-spacing: -0.07rem;
}

.title-h2 span {
  color: var(--primary-color);
}

.title-h3 {
  color: #050505;
  font-family: var(--font-family-grotesk);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 450;
  line-height: 140%;
}

.subtitle-h1 {
  color: #363636;
  text-align: center;
  font-family: var(--font-family-grotesk);
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
}

.subtitle-h2 {
  color: #8b8b8b;
  font-family: var(--font-family-grotesk);
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.subtitle-h3 {
  color: #444;
  /* body-lg */
  font-family: var(--font-family-grotesk);
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 450;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01125rem;
}

.p-main-search {
  position: relative;
}

.p-main-search input {
  display: flex;
  width: 63.4375rem;
  height: 4.375rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.5rem;
  border: 1px solid var(--primary-color);
  background: #fff;
  text-align: center;
  font-family: var(--font-family-grotesk);
  text-align: left;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 450;
  padding-left: 4.31rem;
  padding-right: 7.5rem;
  color: #000000;
  line-height: 150%;
  /* 2.25rem */
}

.p-main-search input::placeholder {
  color: #535353;
}

.p-main-search input.focus-active {
  outline: 6px solid rgba(217, 44, 39, 0.1);
}

.p-main-search .p-m-s-icon-position {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.p-main-search .p-m-s-icon {
  left: 1.94rem;
}

.p-main-search .p-m-s-mic {
  right: 4.37rem;
}

.p-main-search .p-m-s-pic {
  right: 1.87rem;
}

.p-m-label-links-group {
  display: flex;
  flex-direction: row;
  gap: 0.72rem;
  align-items: center;
}

.p-m-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -0.5rem;
}

.p-m-label-links-group .p-m-l-l-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.p-m-f-left .p-m-l-l-lable {
  color: #999;
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: -0.022rem;
}

.p-m-f-left .p-m-l-l-actions {
  color: #232323;
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: -0.022rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.p-m-f-rigth .p-m-l-l-lable {
  color: #000;
  font-family: var(--font-family-grotesk);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 450;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
}

/* .section-block {
    padding: 10.56rem 0;
} */

.connect-section {
  background: #fafafa;
  position: relative;
}

.link-group-tabs {
  border-radius: 3.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  flex-shrink: 0;
  display: flex;
  width: auto;
  padding: 0.325rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 2.26rem;
  left: 50%;
  transform: translateX(-50%);
}

.link-group-tabs .p-text-link {
  display: flex;
  width: 10rem;
  height: 100%;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2.5rem;
  color: #535353;
  text-align: center;
  font-family: var(--font-family-grotesk);
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  /* 1.875rem */
}

.link-group-tabs .p-text-link.active {
  background: #f3f3f3;
  color: #535353;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 1.875rem */
}

.info-with-triger-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.info-with-triger-block .i-w-t-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.info-with-triger-block .i-w-t-item-block {
  padding: 1.25rem 1.3125rem;
  align-self: stretch;
  border: none;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  text-align: left;
  width: 100%;
  border-radius: 0;
  position: relative;
}

.info-with-triger-block .i-w-i-b-left img {
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
  width: auto;
  max-width: max-content;
  margin-top: 0.15rem;
}

.info-with-triger-block .i-w-i-b-r-title {
  color: #000;
  /* title-lg */
  font-family: var(--font-family-grotesk);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  /* 155.556% */
  letter-spacing: 0.01125rem;
}

.info-with-triger-block .i-w-i-b-r-subtitle {
  color: #616161;
  /* body-lg */
  font-family: var(--font-family-grotesk);
  font-size: 1.05rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 1.74375rem */
  letter-spacing: 0.01125rem;
  display: none;
}

.info-with-triger-block .i-w-i-b-left {
  height: auto;
}

.info-with-triger-block li.nav-item {
  width: 100%;
}

.i-w-t-item-block.active .i-w-i-b-r-subtitle {
  display: flex;
}

.info-with-triger-block .i-w-i-b-right {
  display: flex;
  width: 33.3125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.info-with-triger-block .i-w-t-item-block.active,
.info-with-triger-block .i-w-t-item-block.active:hover {
  background: transparent;
  border: unset;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-radius: 0;
}

.info-with-triger-block .i-w-t-item-block .nav-link,
.info-with-triger-block .i-w-t-item-block:hover .nav-link,
.info-with-triger-block .i-w-t-item-block,
.info-with-triger-block .i-w-t-item-block:hover {
  border-radius: 0;
  border-bottom: 1px solid #dedede !important;
  border-left: 1px solid #dedede !important;
}

.info-with-triger-block .i-w-t-item-block.active:after,
.info-with-triger-block .i-w-t-item-block.active:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0.25rem;
}

.info-with-triger-block .i-w-t-item-block.active:after {
  bottom: 0;
  background: #dedede;
}

.info-with-triger-block .i-w-t-item-block.active:before {
  height: 4.313rem;
  background: var(--primary-color);
  z-index: 1;
}

.source-section {
  background: #fafafa;
  position: relative;
}

.o-l-info-group {
  text-align: center;
  display: flex;
  max-width: 79rem;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  gap: 2rem;
}

.o-l-info-details-block {
  max-width: 44rem;
}

.o-l-info-title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.our-leadership-section {
  padding: 7rem 0;
}

.our-leadership-section>.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.o-l-d-item {
  display: flex;
  align-items: center;
  gap: 7.625rem;
  width: 100%;
}

.o-l-d-i-image-block {
  width: 23rem;
  /* height: 32rem; */
  flex-shrink: 0;
  border-radius: 1.4375rem;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 51.44%, rgba(0, 0, 0, 0.77) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat; */
  /* mix-blend-mode: luminosity; */
  overflow: hidden;
}

.o-l-d-i-image-block img {
  width: 100%;
  height: auto;
}

.o-l-d-item.o-l-d-i-right {
  flex-direction: row-reverse;
}

.o-l-details-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9rem;
  align-self: stretch;
}

.o-l-d-i-image-details {
  display: flex;
  width: 4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.o-l-d-i-i-d-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.our-leadership-section.o-l-small-section .o-l-d-item {
  gap: 3.5625rem;
}

.our-leadership-section.o-l-small-section .title-h3 {
  font-size: 2rem;
}

.our-leadership-section.o-l-small-section .subtitle-h3 {
  font-size: 0.89938rem;
}

.our-leadership-section.o-l-small-section .o-l-d-i-i-d-top {
  gap: 0.35975rem;
}

.our-leadership-section.o-l-small-section .o-l-d-i-image-block {
  width: 17.41944rem;
}

footer.footer-section {
  padding: 4rem 0rem;
}

.footer-section>.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.375rem;
}

.f-s-details {
  display: flex;
  align-items: flex-start;
  gap: 7rem;
  align-self: stretch;
}

.f-s-d-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.action-cards {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  border-radius: 1rem;
  overflow: hidden;
  width: 19.5rem;
  flex-shrink: 0;
  position: relative;
}

.action-cards.a-c-primary {
  border-radius: 1rem;
  background: #fff1f0;
}

.action-cards.a-c-secoundary {
  background: #f4f4f4;
}

.a-c-t-label {
  color: #616161;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  /* 160% */
}

.a-c-t-title {
  font-family: var(--font-family-inter);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.0625rem;
}

.a-c-primary .a-c-t-title {
  color: #d92c27;
}

.action-cards button.p-btn-comp.p-btn-md {
  /* components/buttons/md */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem;
  /* 100% */
  letter-spacing: 0.03125rem;
  display: flex;
  height: 2.5rem;
  min-height: 2.5rem;
  padding: 0.25rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  align-self: stretch;
}

.action-cards svg {
  position: absolute;
  content: "";
  top: 0px;
  right: 0;
}

.f-s-d-rigth {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  flex-grow: 1;
}

.f-s-d-r-item-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
}

.f-s-d-r-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.list-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.f-s-d-r-i-title {
  color: #474747;
  display: flex;
  gap: 0.7rem;
  /* title-md */
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
}

.list-link a {
  color: #555e68;
  /* body-sm */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
}

.list-link a:hover {
  color: var(--primary-color);
}

.f-s-d-r-i-title .p-badge.p-badge-primary {
  display: flex;
  transform: unset;
  position: relative;
  width: unset;
  height: unset;
  color: #fef6f6;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 166.667% */
  letter-spacing: 0.015rem;
  border-radius: 0.3125rem;
  padding: 0rem 0.5rem;
  inset: unset;
  white-space: nowrap;
}

.f-s-bottom {
  display: flex;
  padding: 1.5rem 2rem 1rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 1rem;
  border: 1px solid #e3e3e3;
  width: 100%;
}

.f-s-b-top {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.f-s-b-t-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
}

.f-s-b-t-l-top {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.f-s-b-t-l-bottom .f-s-b-t-label-links-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  flex-wrap: wrap;
}

.f-s-b-t-l-l-actions {
  color: #171a1c;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0.03125rem;
  display: flex;
  gap: 0.5rem;
}

.f-s-b-t-l-l-actions a {
  color: #171a1c;
  /* components/buttons/sm */
  /* 100% */
}

.f-s-b-t-l-l-actions a:hover {
  color: var(--primary-color);
}

.f-s-b-t-l-l-lable {
  color: #171a1c;
  /* title-sm */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
}

.f-s-b-t-r-label {
  color: #555e68;
  font-family: var(--font-family-inter);
  font-size: 0.97656rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 153.6% */
}

.f-s-b-t-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.f-s-b-t-right form {
  display: flex;
  height: 2.5rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.625rem;
  width: 100%;
}

.f-s-b-t-right input {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-500, #636b74);
  background: var(--background-body, #fff);
  display: flex;
  padding: 0.5rem 0.75rem12px;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.f-s-b-t-right button.p-btn-comp.p-btn-tertiary.p-btn-rounded.p-btn-md {
  color: #131313;
  /* components/buttons/md */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.875rem;
  /* 100% */
  letter-spacing: 0.03125rem;
}

.f-s-b-bottom {
  display: flex;
  padding: 1rem 0 0rem 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #636b74;
  margin-top: 1.5rem;
  gap: 1rem;
}

.f-s-b-b-left .dropdown.d-small * {
  color: #555e68;
}

.f-s-b-b-right {
  color: #555e68;
  text-align: right;
  /* Body/Body-small */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
}

.f-s-b-b-left .dropdown.d-small * {
  filter: invert(33%) sepia(9%) saturate(339%) hue-rotate(176deg) brightness(92%) contrast(88%);
}

.f-s-b-b-left .dropdown.d-small:hover * {
  filter: unset;
}

/* Hamburger Icon Base */
.hamburger-icon {
  width: 1.5rem;
  /* 24px */
  height: 1.25rem;
  /* 20px */
  position: relative;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
  display: none;
}

.hamburger-icon span {
  display: block;
  height: 0.125rem;
  /* 2px */
  width: 100%;
  background: #000;
  border-radius: 0.125rem;
  /* 2px */
  transition: all 0.3s ease-in-out;
}

/* Transform to X when active */
.hamburger-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(0.375rem, 0.3125rem);
  /* 6px, 5px */
}

.hamburger-icon.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0.4375rem, -0.4375rem);
  /* 7px, -7px */
}

/* Slide-down Panel */
.top-panel {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
  padding: 1.25rem;
  /* 20px */
  transition: top 0.3s ease-in-out;
  z-index: 8;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.top-panel.active {
  top: 5rem;
}

.top-panel nav a {
  padding: 0.5rem 0;
}

.accordion.accordion-plus {
  flex-direction: column;
  width: 100%;
}

.accordion.accordion-plus *:not(.p-badge) {
  border-radius: 0 !important;
}

.accordion.accordion-plus .accordion-button {
  color: #474747;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
  display: flex;
  justify-content: space-between;
}

.accordion.accordion-plus .accordion-button::after {
  display: none;
}

.accordion.accordion-plus .accordion-header,
.accordion.accordion-plus .accordion-button,
.accordion.accordion-plus .accordion-item {
  border: none;
}

.accordion.accordion-plus .accordion-header {
  border-bottom: 1px solid #d9d9d9;
}

.accordion.accordion-plus .accordion-button:not(.collapsed) {
  background: unset;
}

.accordion.accordion-plus .accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion.accordion-plus .material-symbols-rounded {
  font-weight: 600;
  font-size: 1.1rem;
}

.text-underline {
  text-decoration: underline;
}

/***** XX-Large devices (larger desktops, 1399px and down) *****/
@media (max-width: 1399px) {
  .o-l-info-group {
    padding: 7rem 0 5rem 0;
    gap: 1.5rem;
  }

  .our-leadership-section {
    padding: 4rem 0;
  }

  .o-l-details-group {
    gap: 5rem;
  }

  .f-s-details {
    flex-direction: column;
  }

  .f-s-d-left {
    flex-direction: row;
    justify-content: center;
  }

  .f-s-d-rigth {
    width: 100%;
  }

  .title-h1 {
    font-size: 3.5rem;
    line-height: 4.25rem;
  }

  .subtitle-h1 {
    font-size: 1.925rem;
  }

  .title-h2 {
    font-size: 2.5rem;
  }

  .title-h3 {
    font-size: 2.2rem;
  }

  .o-l-d-item {
    gap: 4rem;
  }

  .o-l-d-i-image-block {
    width: 18rem;
  }

  .f-s-b-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .f-s-b-t-l-top {
    justify-content: center;
  }
}

/***** X-Large devices (large desktops, 1199px and down) *****/
@media (max-width: 1199px) {
  .title-h1 {
    font-size: 2.8rem;
    line-height: 3.75rem;
  }

  .title-h2 {
    font-size: 2.2rem;
  }

  .title-h3 {
    font-size: 1.8rem;
  }

  .o-l-info-title-block {
    gap: 0.8rem;
  }

  .subtitle-h1 {
    font-size: 1.8rem;
  }

  .our-leadership-section {
    padding: 3rem 0;
  }

  .o-l-info-group {
    padding: 7rem 0 4rem 0;
    gap: 1.3rem;
  }

  footer.footer-section {
    padding: 3rem 0rem 2rem 0rem;
  }

  .logo-block img {
    height: 3rem;
    width: auto;
  }

  .o-l-info-group {
    padding: 6rem 0 5rem 0;
  }
}

/***** Large devices (desktops, 991px and down) *****/
@media (max-width: 991px) {
  .title-h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  .title-h2 {
    font-size: 2rem;
  }

  .title-h3 {
    font-size: 1.6rem !important;
  }

  .o-l-info-title-block {
    gap: 0.5rem;
  }

  .o-l-info-group {
    padding: 3rem 0;
    gap: 1rem;
  }

  .subtitle-h1 {
    font-size: 1.4rem;
    line-height: 140%;
  }

  .o-l-d-item {
    flex-direction: column !important;
    text-align: center;
  }

  .o-l-d-i-image-details {
    width: 100%;
  }

  .o-l-d-i-image-block {
    width: 12rem;
  }

  .our-leadership-section.o-l-small-section .o-l-d-i-image-block {
    width: 10rem;
  }

  .o-l-d-i-i-d-top {
    align-items: center;
  }

  .f-s-d-rigth {
    flex-wrap: wrap;
  }

  .f-s-d-r-item-group {
    flex: 0 0 calc(50% - 1rem);
  }

  .breadcrumb {
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 1rem;
  }
}

.d-flex-767 {
  display: none !important;
}

/***** Medium devices (tablets, 767px and down) *****/
@media (max-width: 767px) {
  .title-h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  .title-h2 {
    font-size: 1.8rem;
  }

  .title-h3 {
    font-size: 1.5rem !important;
  }

  .o-l-info-group {
    padding: 1.5rem 0;
  }

  .o-l-d-item {
    gap: 2.5rem;
  }

  .o-l-details-group {
    gap: 3.5rem;
  }

  .f-s-d-left {
    align-items: center;
    flex-direction: column-reverse;
  }

  .f-s-d-left .action-cards {
    width: unset;
  }

  .our-leadership-section.o-l-small-section .o-l-d-item {
    gap: 2rem;
  }

  .d-none-767 {
    display: none !important;
  }

  .d-flex-767 {
    display: flex !important;
  }

  .f-s-details {
    gap: 2rem;
  }

  .f-s-b-t-l-l-actions {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-section .h-left .header-main-logo.h-m-l-caption {
    height: 3rem;
  }

  .header-section.always-active+* {
    margin-top: 5rem;
  }

  header {
    padding: 1rem 0;
  }

  header .hamburger-icon {
    transform: scale(0.8);
  }

  .o-l-d-i-image-block {
    width: 10rem;
  }

  .our-leadership-section.o-l-small-section .o-l-d-i-image-block {
    width: 8rem;
  }

  .f-s-b-top {
    flex-direction: column-reverse;
  }
}

/***** Between tablets and phone  (below tablets, 640px and down) *****/
@media (max-width: 640px) {
  .o-l-d-i-image-block {
    width: 9rem;
  }

  .our-leadership-section.o-l-small-section .o-l-d-i-image-block {
    width: 7rem;
  }

  .f-s-bottom {
    border-radius: 0rem;
    border: unset;
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }

  .f-s-b-t-right {
    width: 100%;
  }

  .f-s-b-t-right form {
    flex-direction: column;
    height: unset;
    margin-bottom: 1rem;
  }

  .f-s-b-t-right form>* {
    width: 100%;
  }

  .f-s-b-t-l-top {
    justify-content: flex-start;
  }

  .f-s-b-t-l-bottom .f-s-b-t-label-links-group {
    justify-content: flex-start;
  }

  .f-s-b-t-l-l-actions {
    justify-content: flex-start;
  }

  .f-s-b-bottom {
    padding: 0;
    flex-direction: column;
    border-top: unset;
    align-items: flex-start;
    gap: 2rem;
  }

  .container-fluid {
    width: 100%;
  }

  .f-s-b-b-right {
    text-align: left;
    white-space: nowrap !important;
  }
}

/***** Small devices (landscape phones, 575px and down) *****/
@media (max-width: 575px) {
  .header-section .h-left .header-main-logo.h-m-l-caption {
    height: 2.2rem;
  }

  .header-section.always-active+* {
    margin-top: 4rem;
  }

  .top-panel.active {
    top: 4rem;
  }

  .breadcrumb {
    justify-content: center;
    padding: 1rem;
  }

  .o-l-info-group {
    padding: 1rem 0;
  }

  .subtitle-h1 {
    font-size: 1.2rem;
  }

  .title-h1 {
    font-size: 2rem;
    line-height: 130%;
  }

  .our-leadership-section {
    padding: 1.5rem 0;
  }

  .our-leadership-section>.container {
    gap: 2rem;
  }

  .title-h2 {
    font-size: 1.6rem;
  }

  .title-h3 {
    font-size: 1.3rem !important;
  }

  .o-l-d-item {
    gap: 1.5rem;
  }

  .o-l-d-i-i-d-top {
    gap: 0;
  }

  .o-l-details-group {
    gap: 2rem;
  }

  .our-leadership-section.o-l-small-section .o-l-d-item {
    gap: 1rem;
  }
}