@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../font/NeueHaasDisplayThin.ttf) format('truetype');
}
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../font/NeueHaasDisplayLight.ttf) format('truetype');
}
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/NeueHaasDisplayRoman.ttf) format('truetype');
}
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../font/NeueHaasDisplayMediu.ttf) format('truetype');
}
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../font/NeueHaasDisplayBold.ttf) format('truetype');
}

//Inter
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../font/InterTight-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../font/InterTight-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/InterTight-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../font/InterTight-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../font/InterTight-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../font/InterTight-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../font/InterTight-ExtraBold.ttf) format('truetype');
}