.quotes-received-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width:1200px) {
        gap: 10px;
    }
}

.block-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @media screen and (max-width:1200px) {
        padding: 0 15px;
    }

    .b-h-title {
        color: $color-black-6;
        font-family: $body-font;
        font-size: clamp(1.063rem, 0.975rem + 0.44vw, 1.5rem); // 17, 24px
        font-weight: 500;
        line-height: clamp(1.563rem, 1.475rem + 0.44vw, 2rem); // 25, 32px
    }

    .b-h-subtxt {
        color: $color-black-6;
        font-family: $body-font;
        font-size: clamp(0.813rem, 0.8rem + 0.06vw, 0.875rem); // 13,14px
        font-weight: 400;
        line-height: clamp(0.938rem, 0.9rem + 0.19vw, 1.125rem); // 15, 18px
        letter-spacing: 0.24px;
    }

    .btn-comp {
        &.btn-outline {
            gap: 5px;

            svg {
                width: 16px;
                height: 16px;
                min-width: 16px;

                path {
                    stroke: $color-grey-29;
                }
            }
        }
    }

    .b-h-left {
        display: flex;
        flex-direction: column;
    }
}

.valid-txt {
    display: flex;
    flex-direction: column;

    .v-t-label {
        color: $black;
        font-family: $body-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.24px;
    }

    .v-t-value {
        color: $black;
        font-family: $body-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.24px;
    }
}