.dashboard-layout {
  height: 100%;

  .d-l-wrapper {
    display: flex;
    height: calc(100% - 88px);

    &:has(.close-sidebar) {
      height: calc(100% - 86px);
    }
  }

  .d-l-body {
    width: calc(100% - 220px);
    transition: 0.3s all;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    &:has(.dashboard-main-block) {
      overflow-y: auto;
    }
  }

  &:has(.mob-page-navbar-comp) {
    .dash-center-layout-mob {
      .tabs-block {
        top: 59px;
      }
    }
  }

  &:has(.dash-center-layout-mob .tabs-block) {
    .dash-center-layout-mob {
      .d-c-l-m-body {
        margin-top: 130px;
      }
    }

    &:has(.d-c-l-m-footer) {
      .dash-center-layout-mob {
        .d-c-l-m-body {
          margin-top: 115px;
          max-height: calc(100dvh - 170px);
          overflow-y: auto;
        }
      }
    }
  }

  &:has(.close-sidebar) {
    .d-l-body {
      width: calc(100% - 77px);
    }
  }

  &:has(.landing-page-layout) {
    .d-l-body {
      overflow-y: auto;
    }
  }

  .body-preview-mob {
    &:has(.b-p-m-footer) {
      .b-p-m-body {
        height: calc(100dvh - 50px);
        transition: 0.3s all; //Test
      }
    }
    &:has(.empty-product-comp) {
      .b-p-m-body {
        padding-top: 60px;
      }
    }

    &:has(.b-p-m-footer .mobile-navigation-bottom-comp) {
      .b-p-m-body {
        padding-top: 58px;
        height: calc(100dvh - 75px);
      }
    }

    &:has(.b-p-m-footer.b-p-m-f-progressbar) {
      .b-p-m-body {
        height: calc(100dvh - 32px);
      }
    }

    &:has(.t-b-main) {
      .b-p-m-body {
        padding-top: 110px;
      }
    }

    &:has(.mob-page-navbar-comp) {
      .tabs-block {
        &.t-b-main {
          top: 60px;
        }
      }
    }

    &:has(.table-search-comp) {
      .b-p-m-body {
        padding-top: 150px;
        transition: 0.3s all; //Test
      }
    }

    &.bulk-action-action {
      .tabs-block.t-b-main,
      .table-search-comp,
      .b-p-m-footer,
      .add-new-float-btn {
        transition: 0.3s all; //Test
        opacity: 0;
        visibility: hidden;
      }

      .b-p-m-body {
        transition: 0.3s all; //Test
        padding-top: 90px;
        height: 100dvh;
      }

      .table-card-comp {
        .forms-checkbox {
          opacity: 1;
          transition: 0.3s all;
          visibility: visible;
          width: 18px;
        }
      }

      .bulk-action-selected-header {
        transition: 0.3s all;
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
      }
    }

    &.three-col-form-mob {
      &:has(.center-form-block .c-f-b-bottom) {
        .b-p-m-body {
          height: calc(100dvh - 60px);
        }
      }

      .c-f-b-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-top: 1px solid $color-grey-24;
        background: $primary-solid-color;
        padding: 8px 15px;

        .c-f-b-b-right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;

          .btn-comp {
            width: 100%;
            gap: 5px;

            svg {
              width: 15px;
              min-width: 15px;
              height: 15px;
              transform: scale(1.4);
            }
          }
        }

        .mob-previous-btn {
          border: unset;
          justify-content: flex-start;
        }
      }

      .center-form-block {
        .c-f-b-top {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .c-f-b-t-header {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title-subtxt-block {
              display: flex;
              flex-direction: column;
              gap: 5px;
            }

            .title-subtxt {
              color: $color-grey-8;
              font-family: $body-font;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.28px;
            }
          }
        }

        .form-block-main {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }

    .b-p-m-body {
      padding-top: 75px;
      height: calc(100dvh - 0px);
      overflow-y: auto;
      transition: 0.3s all; //Test
    }

    .b-p-m-footer {
      transition: 0.3s all; //Test

      &.b-p-m-f-progressbar {
        background-color: $color-blue-6;
        padding: 5px 15px;

        .progress-bar-dashed-comp {
          gap: unset;
        }
      }

      &.b-p-m-f-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .table-search-comp {
      position: fixed;
      top: 105px;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 8px 12px;
      background-color: $primary-solid-color;
      z-index: 2;
      transition: 0.3s all; //Test
    }
  }

  .dash-center-layout-mob {
    .d-c-l-m-body {
      margin-top: 85px;
      padding: 0 15px 15px 15px;

      @media screen and (max-width: 1200px) {
        &:has(.supplier-quote-card-comp) {
          padding: 0 0 15px 0;
        }
      }

      .tab-panel {
        padding: 2px;
      }
    }

    .p-tabview {
      &.dash-tabview-mob {
        .p-tabview-panels {
          background-color: transparent;
        }

        .accordion-comp {
          .p-accordion {
            gap: 15px;
          }
        }

        &.hide-tab-container {
          .p-tabview-nav-container {
            display: none;
          }
        }
      }
    }

    .d-c-l-m-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 1px solid $color-grey-24;
      background: $primary-solid-color;
      padding: 8px 15px;
      display: flex;
      align-items: center;

      &.d-c-l-m-f-left-right {
        justify-content: space-between;
      }
    }
  }

  .tabs-block {
    &.t-b-main {
      position: fixed;
      width: 100%;
      left: 0;
      display: flex;
      z-index: 2;
      border-bottom: unset;
      transition: 0.3s all; //Test

      .btn-comp {
        width: 100%;
        padding: 10px;
        background-color: $primary-solid-color;
        border-right: 1px solid rgba(0, 0, 0, 0.14);
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
        font-family: $secondary-body-font;

        .b-c-txt {
          font-size: 15px;
        }

        &:last-child {
          border-right: unset;
        }

        &.active {
          background-color: $color-white-4;
          color: $color-black-19;
        }
      }
    }
  }
}

.bulk-action-selected-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transform: translateY(-90px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}

.b-a-s-h-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
  background-color: $primary-solid-color;
  border-bottom: 1px solid $color-grey-24;

  .selected-txt-count {
    color: $color-black-3;
    font-family: $body-font;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  .b-a-s-h-c-right {
    svg {
      width: 22px;
      height: 22px;
      min-width: 22px;

      path {
        fill: $text-primary;
        stroke: $text-primary;
      }
    }
  }
}

.unselect-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: $primary-solid-color;
  padding: 0px 15px 5px 15px;

  .forms-checkbox {
    .f-r-label {
      opacity: 1;
    }
  }

  .u-c-right {
    .btn-comp {
      padding: unset;

      svg {
        width: 20px;
        height: 20px;
        min-width: 20px;

        path {
          stroke: $btn-primary;
        }
      }
    }
  }
}

.body-preview {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px;

  @media screen and (max-width: 991px) {
    display: none;
  }

  //Common Styling
  * {
    font-family: $secondary-body-font;
  }

  .custom-width {
    width: 140px;
  }

  .b-p-title {
    color: $neutral-outlined-Color;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

  .b-p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .b-p-right {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
