<footer>
  <div class="footer-main">
    <div class="container-main">
      <div class="footer">
        <div class="footer-flex">
          <div class="footer-block">
            <div class="company-block">
              <div class="company-block-inner pink">
                <span>List your Company</span>
                <h5>For Free</h5>
                <a href="/authenticate">Join as Supplier</a>
              </div>
            </div>
            <div class="company-block">
              <div class="company-block-inner gray">
                <span>Looking to</span>
                <h5>Source Products?</h5>
                <a href="/app/sourcing-rfq">Post Buying Request</a>
              </div>
            </div>
          </div>
          <div class="footer-block">
            <h6>
              Company
              <span class="toggle-icon"
                ><img src="images/plus.webp" alt=""
              /></span>
            </h6>
            <ul>
              <li><a href="/s/about-us">About Pepagora</a></li>
              <li><a href="/s/leadership">Leadership & Advisors</a></li>
              <li><a href="/s/impact">Impact at Pepagora</a></li>
              <li><a href="/s/contact-us">Contact Us</a></li>
            </ul>
            <ul>
              <li><a href="/s/trust">Trust Center</a></li>
            </ul>
            <h6>
              Blog
              <span class="toggle-icon"
                ><img src="images/plus.webp" alt=""
              /></span>
            </h6>
            <ul>
              <li><a href="#">Pepagora Blog</a></li>
            </ul>
          </div>
          <div class="footer-block">
            <h6>
              Browse by Industries
              <span class="toggle-icon"
                ><img src="images/plus.webp" alt=""
              /></span>
            </h6>
            <ul id="industries-links">
              <li>
                <a href="#" data-category="Apparel & Fashion"
                  >Apparel & Fashion</a
                >
              </li>
              <li>
                <a href="#" data-category="Industrial Equipment & Machinery"
                  >Industrial Equipment & Machinery</a
                >
              </li>
              <li>
                <a href="#" data-category="Home & Lifestyle"
                  >Home & Lifestyle</a
                >
              </li>
              <li>
                <a href="#" data-category="Health & Personal Care"
                  >Health & Personal Care</a
                >
              </li>
              <li>
                <a href="#" data-category="Food & Agriculture"
                  >Food & Agriculture</a
                >
              </li>
              <li><a href="#" data-category="Construction">Construction</a></li>
              <li>
                <a href="#" data-category="Electronics & Electrical"
                  >Electronics & Electrical</a
                >
              </li>
              <li>
                <a href="#" data-category="Automotive & Transport"
                  >Automotive & Transport</a
                >
              </li>
              <li>
                <a href="#" data-category="Raw Materials & Chemicals"
                  >Raw Materials & Chemicals</a
                >
              </li>
              <li>
                <a href="#" data-category="Sports & Entertainment"
                  >Sports & Entertainment</a
                >
              </li>
              <li>
                <a href="#" data-category="Tools & Hardware"
                  >Tools & Hardware</a
                >
              </li>
              <li>
                <a href="#" data-category="Packaging & Printing"
                  >Packaging & Printing</a
                >
              </li>
              <li>
                <a href="#" data-category="Office Supplies & Equipment"
                  >Office Supplies & Equipment</a
                >
              </li>
              <li>
                <a href="#" data-category="Services & Support"
                  >Services & Support</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-block">
            <h6>Business Tools</h6>
            <ul>
              <li><a href="/app/sales-sell-offer">Post Sell Offer</a></li>
              <li><a href="/app/catalog">Create your Business Website</a></li>
              <li><a href="/app/leads">Manage Your Leads</a></li>
              <li><a href="/app/sales-connect">Manage your Customers</a></li>
              <li>
                <a href="/app/sourcing-rfq">Post a Buying Request (RFQ)</a>
              </li>
              <li>
                <a href="/app/settings/account-settings"
                  >Become a Verified Member</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-block">
            <h6>
              Resources
              <span class="toggle-icon"
                ><img src="images/plus.webp" alt=""
              /></span>
            </h6>
            <ul>
              <li>
                <a href="/pricing">Pricing</a>
                <span>Starting from 10$ per month</span>
              </li>
            </ul>

            <h6>Help & Legal</h6>
            <ul>
              <li><a href="/s/contact-us">Help Center</a></li>
              <li>
                <a href="/s/cancellation">Refund & Cancellation</a>
              </li>
              <li>
                <a href="/s/legal#privacy-policy">Data Protection Guidelines</a>
              </li>
              <li>
                <a href="/s/legal#privacy-policy">Terms & Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="bottom-flex">
            <div class="bottom-left">
              <div class="social-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/pepagora" target="_blank"
                      ><img src="../images/facebook.webp" alt="Facebook"
                    /></a>
                  </li>
                  <li>
                    <a href="https://x.com/Pepagora" target="_blank"
                      ><img src="../images/twitter.webp" alt="Twitter"
                    /></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/@pepagora" target="_blank"
                      ><img src="../images/youtube.webp" alt="YouTube"
                    /></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/pepagora" target="_blank"
                      ><img src="../images/insta.webp" alt="Instagram"
                    /></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/company/pepagora"
                      target="_blank"
                      ><img src="../images/linkedin.webp" alt="LinkedIn"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bottom-right">
              <img src="/images/pepagora-logo.svg" alt="Pepagora Logo" />
              <!-- <h6>Subscribe to our Newsletter</h6>
                            <div class="input-flex">
                                <input type="email" placeholder="Enter your email">
                                <button>Subscribe</button>
                            </div> -->
            </div>
          </div>
          <div class="copyright-flex">
            <div
              class="global"
              style="display: flex; align-items: baseline; gap: 10px"
            >
              <h6 style="margin: 0; padding: 5px 0">Global Sites:</h6>
              <p style="margin: 0; padding: 5px 0; vertical-align: baseline">
                <a
                  href="/en"
                  style="
                    font-weight: bold;
                    text-decoration: underline;
                    color: black;
                  "
                  >English</a
                >
                |
                <a
                  href="/ta"
                  style="
                    font-weight: normal;
                    text-decoration: none;
                    color: black;
                  "
                  >தமிழ்</a
                >
                |
                <a
                  href="/ar"
                  style="
                    font-weight: normal;
                    text-decoration: none;
                    color: black;
                  "
                  >العربية</a
                >
                |
                <a
                  href="/hi"
                  style="
                    font-weight: normal;
                    text-decoration: none;
                    color: black;
                  "
                  >हिंदी</a
                >
              </p>
            </div>
            <div class="global-select" style="display: none">
              <p><img src="images/global-icon.webp" alt="" /> Serving:</p>
              <select name="" id="">
                <option value="">India</option>
              </select>
            </div>
            <p style="text-align: right; margin-left: auto">
              Copyright © 2025 Pepagora.com All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Script removed - will be handled by the parent page after dynamic loading -->
