<header>
  <div class="header-main">
    <div class="header-flex">
      <div class="header-left">
        <a href="/"><img src="/images/pepagora_logo.webp" alt="" /></a>
      </div>
      <div class="header-right">
        <ul>
          <li><a href="about-us">About Us</a></li>
          <li>
            <a href="leadership">Leadership</a>
          </li>
          <li>
            <a href="partnership">Partnership</a>
          </li>
          <li>
            <a href="/pricing">Pricing</a>
          </li>
          <li><a href="legal">Legal</a></li>
          <li><a href="trust">Trust</a></li>
          <li><a href="contact-us">Contact Us</a></li>
          <li><a href="cancellation">Cancellation</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mob-header">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="/images/pepagora_logo.webp" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="document.getElementById('navbarSupportedContent').classList.toggle('collapse')"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="leadership">Leadership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="partnership">Partnership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="legal">Legal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="trust">Trust</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact-us">Contact-us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cancellation">Cancellation</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
